<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.templestamp.verse.GwanVerseMapper">

    <select id="findByVerseNo" resultType="com.templestamp.verse.GwanVerse">
        SELECT verse_no, hanja, text_ko, theme FROM gwan_verse WHERE verse_no = #{verseNo}
    </select>

    <select id="findAll" resultType="com.templestamp.verse.GwanVerse">
        SELECT verse_no, hanja, text_ko, theme FROM gwan_verse ORDER BY verse_no
    </select>

</mapper>
